<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="false" scanPeriod="60 seconds" debug="false">
    <springProperty scop="context" name="spring.application.name" source="spring.application.name" defaultValue=""/>

    <property name="log.path" value="logs/${spring.application.name}"/>

    <!-- 彩色日志格式 -->
    <property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %clr(%5p) [%15.10t] %clr([%-40.40logger{39} %line]){cyan} : %m%n"/>

    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p [%-40.40logger{39}] [%file:%line] - %msg%n"/>

    <!-- Console 输出设置 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--<appender name="debug" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--    <file>${log.path}/debug.log</file>-->
    <!--    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
    <!--        <fileNamePattern>${log.path}/%d{yyyy-MM-dd}/debug.%i.log</fileNamePattern>-->
    <!--        <maxFileSize>100MB</maxFileSize>-->
    <!--        <maxHistory>30</maxHistory>-->
    <!--    </rollingPolicy>-->
    <!--    <encoder>-->
    <!--        <pattern>${LOG_PATTERN}</pattern>-->
    <!--        <charset>UTF-8</charset>-->
    <!--        <immediateFlush>true</immediateFlush>-->
    <!--    </encoder>-->
    <!--    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
    <!--        <level>DEBUG</level>-->
    <!--    </filter>-->
    <!--</appender>-->

    <logger name="ch.qos.logback" level="error" additivity="false"/>

    <!--myibatis log -->

    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>
