#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
package ${symbol_dollar}{package.Controller};

import org.springframework.web.bind.annotation.RequestMapping;

#if(${symbol_dollar}{restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
#else
import org.springframework.stereotype.Controller;
#end
#if(${symbol_dollar}{superControllerClassPackage})
import ${symbol_dollar}{superControllerClassPackage};
#end


#if(${symbol_dollar}{restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping("#if(${symbol_dollar}{package.ModuleName})/${symbol_dollar}{package.ModuleName}#end/#if(${symbol_dollar}{controllerMappingHyphenStyle})${symbol_dollar}{controllerMappingHyphen}#else${symbol_dollar}{table.entityPath}#end")
#if(${symbol_dollar}{kotlin})
class ${symbol_dollar}{table.controllerName}#if(${symbol_dollar}{superControllerClass}) : ${symbol_dollar}{superControllerClass}()#end

#else
#if(${symbol_dollar}{superControllerClass})
public class ${symbol_dollar}{table.controllerName} extends ${symbol_dollar}{superControllerClass} {
#else
public class ${symbol_dollar}{table.controllerName} {
#end

}

#end
