#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
package ${symbol_dollar}{package.Mapper};

import ${symbol_dollar}{package.Entity}.${symbol_dollar}{entity};
import ${symbol_dollar}{superMapperClassPackage};

public interface ${symbol_dollar}{table.mapperName} extends ${symbol_dollar}{superMapperClass}<${symbol_dollar}{entity}> {

}
