#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
package ${symbol_dollar}{package.Service};

import ${symbol_dollar}{package.Entity}.${symbol_dollar}{entity};
import ${symbol_dollar}{package.Mapper}.${symbol_dollar}{table.mapperName};
import ${symbol_dollar}{superServiceImplClassPackage};
import org.springframework.stereotype.Service;

import lombok.extern.slf4j.Slf4j;


@Slf4j
@Service
#if(${symbol_dollar}{kotlin})
open class ${symbol_dollar}{table.serviceName} : ${symbol_dollar}{superServiceImplClass}<${symbol_dollar}{table.mapperName}, ${symbol_dollar}{entity}>(), ${symbol_dollar}{table.serviceName} {

}
#else
public class ${symbol_dollar}{table.serviceName} extends ${symbol_dollar}{superServiceImplClass}<${symbol_dollar}{table.mapperName}, ${symbol_dollar}{entity}>{

}
#end
